<template name="navbar">
  <nav class="navbar navbar-light navbar-expand-md fixed-top bg-white">
    <div class="container-fluid"><a class="navbar-brand" href="#"><img src="./img/ico.png" width="40px"></a><button
        data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" id="nav-burger"><span
          class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav" id="nav-ul">
          <li class="nav-item" role="presentation"><a class="nav-link active logout" href="#">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>